
# PlanAhead Generated IO constraints 

NET "an[3]" IOSTANDARD = LVCMOS33;
NET "an[2]" IOSTANDARD = LVCMOS33;
NET "an[1]" IOSTANDARD = LVCMOS33;
NET "an[0]" IOSTANDARD = LVCMOS33;
NET "btn[2]" IOSTANDARD = LVCMOS33;
NET "btn[1]" IOSTANDARD = LVCMOS33;
NET "btn[0]" IOSTANDARD = LVCMOS33;
NET "led[7]" IOSTANDARD = LVCMOS33;
NET "led[6]" IOSTANDARD = LVCMOS33;
NET "led[5]" IOSTANDARD = LVCMOS33;
NET "led[4]" IOSTANDARD = LVCMOS33;
NET "led[3]" IOSTANDARD = LVCMOS33;
NET "led[2]" IOSTANDARD = LVCMOS33;
NET "led[1]" IOSTANDARD = LVCMOS33;
NET "led[0]" IOSTANDARD = LVCMOS33;
NET "sseg[7]" IOSTANDARD = LVCMOS33;
NET "sseg[6]" IOSTANDARD = LVCMOS33;
NET "sseg[5]" IOSTANDARD = LVCMOS33;
NET "sseg[4]" IOSTANDARD = LVCMOS33;
NET "sseg[3]" IOSTANDARD = LVCMOS33;
NET "sseg[2]" IOSTANDARD = LVCMOS33;
NET "sseg[1]" IOSTANDARD = LVCMOS33;
NET "sseg[0]" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "rx" IOSTANDARD = LVCMOS33;
NET "tx" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "rx" LOC = N18;
NET "tx" LOC = N17;
NET "clk" LOC = V10;
NET "reset" LOC = A8;
NET "btn[0]" LOC = C4;
NET "btn[1]" LOC = B8;
NET "btn[2]" LOC = D9;
NET "led[0]" LOC = U16;
NET "led[1]" LOC = V16;
NET "led[2]" LOC = U15;
NET "led[3]" LOC = V15;
NET "led[4]" LOC = M11;
NET "led[5]" LOC = N11;
NET "led[6]" LOC = R11;
NET "led[7]" LOC = T11;
NET "sseg[0]" LOC = M13;
NET "sseg[1]" LOC = T17;
NET "sseg[2]" LOC = T18;
NET "sseg[3]" LOC = U17;
NET "sseg[4]" LOC = U18;
NET "sseg[5]" LOC = M14;
NET "sseg[6]" LOC = N14;
NET "sseg[7]" LOC = L14;
NET "an[0]" LOC = N16;
NET "an[1]" LOC = N15;
NET "an[2]" LOC = P18;
NET "an[3]" LOC = P17;
